
* {
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 60px;
    border: 2px solid black
}

main {
    flex: 1;
    display: flex;
    border: solid red;
    overflow: hidden;
}

aside{
    width: 250px;
    border: 2px solid blue
}

#graph{
    flex: 1;
    min-width: 0;
    min-height: 0;
}